language: python
dist: xenial

python:
  - "3.6"
  - "3.7"

before_install:
  - sudo apt-get install cmake flex bison
  - pip install -U pip

script:
  - pytest

deploy:
  provider: pypi
  distributions: "sdist bdist_wheel"
  username: $PYPI_USERNAME
  password: $PYPI_PASSWORD
  on:
    tags: true
    # deploy only once
    python: "3.7"
